NSURLResponse does not allow for multiple Set-Cookie headers in the same response

According to [RFC6265](http://www.rfc-editor.org/rfc/rfc6265.txt) response headers can contain multiple Set-Cookie headers. However, the `[NSURLResponse _setHeaders:]` method converts the array of headers into a dictionary keyed by header name. This results in only getting the latest cookie when the server tries to set multiple cookies in the same response.

Perhaps, if it's valid, it would be possible to fold multiple Set-Cookie headers, RFC2956 mentions folding multiple Set-Cookie headers, but RFC6256 says they should not be folded... 

And is there a current workaround for this? Perhaps some method I'm missing that would allow me to get the full array of headers having made a request, not just the NSDictionary.

Thanks!

The comments in NSHTTPCookie.m imply that it can handle multiple cookies joined with a comma. This being the case, maybe it would make sense to have a special case for the Set-Cookie header in NSURLResponse _setHeaders which inserts them joined by a comma when there are more than 1. 

With the above said, I couldn't get the GSRangeOfCookie function in NSHTTPCookie.m to work for multiple cookies joined together, even when passing the example in the comment above the function... Maybe I'm missing something.

I'm looking into this a bit to try and figure out the OSX behavior.  It definitely documents NSURLResponse as having one string value for each header field name, but I notice that when I call the -description method on an NSURLResponse instance, the formal of the resulting string suggests that it's actually holding each value as an array.

I think the answer is that this *is* the API:  the headers are provided as a dictionary and individual cookie headers in the response are/should-be combined into a single value in the dictionary provided by NSURLResponse.
However,  NSHTTPCookie should be capable of parsing that multi-cookie header line for you.
I think the internal GSRangeOfCookie() function was broken, so I have replaced it with a complete rewrite aimed at behaving the same way as OSX, so I hope the parsing should now work.

I added a regression test case to check that NSHTTPCookie handles parsing header values containing multiple cookies.
I also changed NSURLResponse _setHeaders to combine header values as suggested.


Awesome, thank you very much for putting in the time to investigate and fix this!